*{
    box-sizing: border-box;
}

.cambio-page header{
    background-color: #d9ecff;
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 0;
}
.cambio-page #logo{ 
    height:60px;
    width: 80px;
    margin-right: 10px;
    margin-top: 10px;
}

.cambio-page h1{
    text-align: center;
    padding: 0;
    font-weight: bolder;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h6{
    text-align: center;
}

.cambio-page form {
    padding: 2rem 0;
    max-width: 500px;
    max-height: 75%;
    margin: 10px auto;
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 10px 40px;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.cambio-page label, .cambio-page p {
    display: block;
    justify-content: space-between; /*Para justificar el contenido*/
    align-items: center;
    margin-top: 20px;
    font-weight: 600;
    color: #103e6e;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.cambio-page input{
    width: 100%;
    padding: 8px 12px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.06);
    border: 3px solid #d0e2ff;
    border-radius: 12px;
    font-size: 12px;
    color: #000000;
    outline: none; /*No permite bordes por default de los navegadores*/
    transition: border-color 0.3s ease;
}
.cambio-page input:focus{ /*focus para cuando enfoque*/
    border-color: #96baf3;
    outline: none;
}

.cambio-page button{
    margin: 1em auto;
}

